@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */
:root {
  --btn-color: #2E483A;
  --btn-hover-color:#416E59;
  --primary: #2E483A;
  --body-background: #f6f3ed;
  --light-color: #f6f3ed;
}
#how-it-works #smarter-way-to-eat-healthy #q-and-a {
  background-color: var(--body-background) !important;
}
.btn-primary:hover {
  background-color: var(--btn-hover-color) !important;
  border-style: none;
}


.navbar {
  background-color: var(--primary);
}

.nav-logo {
padding-left: 20px;
}

.nav-item {
  padding-right: 20px;
}

.header {
  background-color: var(--primary);
}
.btn-primary {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.hero-content {
  top: 10%;
}

#howitworks {
  top: 20%;
}

.section-title {
  margin-bottom: 20px;
  margin-top: 20px;
}

.section-description {
  margin-top: 20px;
  margin-top: 20px;
}
.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  color: var(--primary);
  height: 3px;
}

#testimonial {
  background-color: var(--primary);
  color: var(--light-color)
}






#cta {
  height: 50vh;
}

.image-container {
  overflow: hidden;
}

.cta-image {
  position: relative;
  opacity: 0.7;
}

.cta-image-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

}

.navbar-toggler {
  color: var(--light-color);
}




















figure {
  text-align: centers;
}

.testimonial-item {
  text-align: center;
}

.testimonial-item img {
  margin: 0 auto;
  display: block;
}

.testimonial-item blockquote {
  margin-top: 15px;
}

.testimonial-item figcaption {
  margin-top: 10px;
}

footer {
  background-color: var(--primary);
  margin-bottom: 0 auto;
  color: var(--light-color);
}




.navbar-brand {
  color: #F6F3ED;
}

body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 800px;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  height: 800px;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}